@model CountryFood.Web.ViewModels.ProductViewModel
<div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new {})
        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Producer, new { @class = "control-label" })
        @Html.EditorFor(m => m.Producer, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "control-label" })
        @Html.EditorFor(m => m.Category, new { @class = "form-control" })
    </div>
    <hr />
</div>