@model CountryFood.Web.ViewModels.ProductViewModel

<div>
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
</div>
<div>
    @Html.LabelFor(m => m.Producer)
    @Html.EditorFor(m => m.Producer)
</div>
<div>
    @Html.LabelFor(m => m.Category)
    @Html.EditorFor(m => m.Category)
</div>
<hr />
