@{
    string appName = "Country Food Subscribe";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @appName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/Content/css-custom")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(appName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>
            @if (TempData["errorMessage"] != null)
            {
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>
                        @TempData["errorMessage"]
                    </strong>
                    @if (TempData["errorMessageLink"] != null)
                    {
                        <a href="#" class="alert alert-link">@TempData["errorMessageLink"]</a>
                    }
                </div>
            }

            @if (TempData["successMessage"] != null)
            {
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>@TempData["successMessage"]</strong>
                    @if (TempData["successMessageLink"] != null)
                    {
                        <a href="#" class="alert alert-link">@TempData["successMessageLink"]</a>
                    }
                </div>
            }
            @if (TempData["infoMessage"] != null)
            {
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>@TempData["infoMessage"]</strong>
                    @if (TempData["infoMessageLink"] != null)
                    {
                        <a href="#" class="alert alert-link">@TempData["infoMessageLink"]</a>
                    }
                </div>
            }
            @if (TempData["warningMessage"] != null)
            {
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>@TempData["warningMessage"]</h4>
                    @if (TempData["warningMessageLink"] != null)
                    {
                        <p>
                            <a href="#" class="alert alert-link">@TempData["warningMessageLink"]</a>.
                        </p>
                    }
                </div>
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://github.com/yyankova/CountryFoodSubscribe">@appName</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery-unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
