@using Microsoft.AspNet.Identity
@if (User.IsInRole("admin"))
{
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Manage Subscriptions", "Index", "SubscriptionsManager", new { Area = "Administration" }, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Manage Producers", "Index", "ProducersManager", new { Area = "Administration" }, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Manage Products", "Index", "ProductsManager", new { Area = "Administration"}, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
}
else if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("My Subscriptions", "List", "Subscriptions", routeValues: null, htmlAttributes: null)
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
