@model  CountryFood.Web.InputModels.SubscriptionInputModel
@{
    ViewBag.Title = "Subscribe for delivery";
    ViewBag.PreviousYearCount = 0;
    ViewBag.NextYearCount = 3;
}

<h2>@ViewBag.Title</h2>
<h3>Product name</h3>
@Html.ValidationSummary("", new { @class="text-danger"} )
@using (Html.BeginForm("Create", "Subscriptions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductID)
    @Html.EditorFor(m => m.PeriodStart)
    @Html.EditorFor(m => m.PeriodEnd)
    @Html.EditorFor(m => m.Frequency)
    @Html.EditorFor(m => m.Address, new {placeholder = "Address"})
    
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}